	.li{
		border:0.7px solid #fff;
	    border-top:none;
	    border-bottom:none;
	}
	
 li form input{
	border:3px solid #ff3a4d;
	color:#ff3a4d;
	font-weight:bold;
}
	
li form button{
	background:#ff3a4d;
	color:#fff;
	border:3px solid #ff3a4d;
	font-weight:bold;
}	
	
	
	
	
	footer{
	   background-color:#ff3a4d;
	   color:#f2f2f2;
	   padding-top:2rem;
	   margin-top:30px;
	}

	hr.light{
	   border-top:1px solid #f2f2f2;
	   width:75%;
	   margin-top: .8rem;
	   margin-bottom: 1rem;
	}
	
	hr.light-100{
	   border-top:1px solid #f2f2f2;
	   width:100%;
	   margin-top: .8rem;
	   margin-bottom: 1rem;
	}

	 footer .fab{
	  padding:15px;
	  color:#f2f2f2;
	}
 
	footer .fab:hover{
	  color:#b32400;
	}

    .parallax{

	background-color: #ff3a4d;
	text-shadow:4px 4px 8px #ff3a4d;
    box-shadow:4px 4px 8px black;
} 
 
 .parallax-inner{
	 padding-right: 0px;
	 padding: 12px;
	 
 }

 
 label{
	  color: white;
 }
.view-first img {
    transition: all 0.2s linear;
}
.view-first .mask {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.4s ease-in-out
}
.view-first .tools {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out
}
.view-first p {
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.2s linear
}
.view-first:hover img {
    transform: scale(1.1)
}
.view-first:hover .mask {
    opacity: 1
}
.view-first:hover .tools,
.view-first:hover p {
    opacity: 1;
    transform: translateY(0px)
}
.view-first:hover p {
    transition-delay: 0.1s
}



 .main-navigation form input,
 .main-navigation2 form input,
 .main-navigation3 form input,
 .main-navigation6 form input,
 .main-navigation4 form input,
 .main-navigation5 form input{
	text-align:center;
	padding:5px;
	border:3px solid #ff3a4d;
	color:#ff3a4d;
	margin-bottom:10px;
	font-weight:bold;
 }

 .main-navigation form button,
 .main-navigation2 form button,
 .main-navigation3 form button,
 .main-navigation6 form button,
 .main-navigation4 form button,
 .main-navigation5 form button{
	text-align:center;
	padding:5px;
	background: #ff3a4d;
	color:#ff3a4d;
	color:#f2f2f2;
	font-weight:bold;
 }




 .main-navigation{
	     position: fixed;
		 top:0px;
		 left: 0px;
		 width: 100%;
		 height: 100%;
		 background: #000;
		 background: rgba(0, 0, 0, 0.9);
		 font-family:font-family: 'Tw Cen MT Condensed'; 
		 text-align: center;
		 transform: translateY(100%);
		 transition: transform 0.6s ease;
		 
	   }
	   
	   .main-navigation.open{
	     transform: translateX(0);
	   }
	   
	   
	   .main-navigation{
	     margin: 0px;
		 padding: 0px;
	   }
	   
	   .main-navigation ul a{
	      padding: 10px 20px;
		  display: block;
	   }
	
	   .main-navigation.nav-toggle{
		   
		  cursor: pointer; 
		   
	   }
	   
	   .main-navigation2{
	     position: fixed;
		 top:0px;
		 left: 0px;
		 width: 100%;
		 height: 100%;
		 background: #000;
		 background: rgba(0, 0, 0, 0.9);
		 font-family:font-family: 'Tw Cen MT Condensed'; 
		 text-align: center;
		 transform: translateX(100%);
		 transition: transform 0.6s ease;
		 
	   }
	   
	   .main-navigation2.open{
	     transform: translateY(0);
	   }
	   
	   
	   .main-navigation2{
	     margin: 0px;
		 padding: 0px;
	   }
	   
	   .main-navigation2 ul a{
	      padding: 10px 20px;
		  display: block;
	   }
	
	   .main-navigation2.nav-toggle2{
		   
		  cursor: pointer; 
		   
	   }
   
	   .main-navigation3{
	     position: fixed;
		 top:0px;
		 left: 0px;
		 width: 100%;
		 height: 100%;
		 background: #000;
		 background: rgba(0, 0, 0, 0.9);
		 font-family:font-family: 'Tw Cen MT Condensed'; 
		 text-align: center;
		 transform: translateX(-100%);
		 transition: transform 0.6s ease;
		 
	   }
	   
	   .main-navigation3.open{
	     transform: translateX(0);
	   }
	   
	   
	   .main-navigation3{
	     margin: 0px;
		 padding: 0px;
	   }
	   
	   .main-navigation3 ul a{
	      padding: 10px 20px;
		  display: block;
	   }
	
	   .main-navigation3.nav-toggle3{
		   
		  cursor: pointer; 
		   
	   }
	   
	   .main-navigation4{
	     position: fixed;
		 top:0px;
		 left: 0px;
		 width: 100%;
		 height: 100%;
		 background: #000;
		 background: rgba(0, 0, 0, 0.9);
		 font-family:font-family: 'Tw Cen MT Condensed'; 
		 text-align: center;
		 transform: translateX(100%);
		 transition: transform 0.6s ease;
		 
	   }
	   
	   .main-navigation4.open{
	     transform: translateY(0);
	   }
	   
	   
	   .main-navigation4{
	     margin: 0px;
		 padding: 0px;
	   }
	   
	   .main-navigation4 ul a{
	      padding: 10px 20px;
		  display: block;
	   }
	
	   .main-navigation4.nav-toggle4{
		   
		  cursor: pointer; 
		   
	   }

	   .main-navigation5{
	     position: fixed;
		 top:0px;
		 left: 0px;
		 width: 100%;
		 height: 100%;
		 background: #000;
		 background: rgba(0, 0, 0, 0.9);
		 font-family:font-family: 'Tw Cen MT Condensed'; 
		 text-align: center;
		 transform: translateY(100%);
		 transition: transform 0.6s ease;
		 
	   }
	   
	   .main-navigation5.open{
	     transform: translateX(0);
	   }
	   
	   
	   .main-navigation5{
	     margin: 0px;
		 padding: 0px;
	   }
	   
	   .main-navigation5 ul a{
	      padding: 10px 20px;
		  display: block;
	   }
	
	   .main-navigation3.nav-toggle5{
		   
		  cursor: pointer; 
		   
	   }
	   
	   .main-navigation6{
	     position: fixed;
		 top:0px;
		 left: 0px;
		 width: 100%;
		 height: 100%;
		 background: #000;
		 background: rgba(0, 0, 0, 0.9);
		 font-family:font-family: 'Tw Cen MT Condensed'; 
		 text-align: center;
		 transform: translateX(-100%);
		 transition: transform 0.6s ease;
		 
	   }
	   
	   .main-navigation6.open{
	     transform: translateY(0);
	   }
	   
	   
	   .main-navigation6{
	     margin: 0px;
		 padding: 0px;
	   }
	   
	   .main-navigation6 ul a{
	      padding: 10px 20px;
		  display: block;
	   }
	
	   .main-navigation6.nav-toggle6{
		   
		  cursor: pointer; 
		   
	   }

	   
 .bubbles{
	position: absolute;
	top: 0%;
	left: 0;
	width: 100%;
	height: 0;
	z-index: 1;
	transform: traslateZ(0);
	
@keyframes square{;
	
  ;  0%{
		 -webkit-transform: translateY(0);
		  transform: translateY(0);
	}
	100%{
		-webkit-transform: translateY(800px) rotate(500deg);
	    transform: translateY(800px) rotate(500deg);
	}
	